/* https://maketintsandshades.com/#colors=ee26c3,ed2626&hashtag=0&steps=20 */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0");

:root {
  --font: "Outfit", sans serif;
  --color-primary: #ee26c3;
  --color-error: #c92020;
  --nav-bg: var(--color-primary);
  --nav-active: #f151cf;
  --color-text: var(--color-primary);
  --color-on-text: white;
  --color-bg: #fef4fc;
  --color-container: white;
  --padding-pages: 20px 40px 40px 40px;
  --bar-corner-radius: 8px;
  --bar-border: 2px solid transparent;
  --bar-padding: 12px 16px;
  --container-radius: 16px;
  --container-box-shadow: 0 4px 6px -1px #ee26c330, 0 2px 4px -2px #ee26c330;
  --link-color: #2668ed;
  --link-visited-color: #8a26ed;
  --button-padding-block: 8px;
  --button-color-hover: #be1e9c;
  --rating-star-color: #edd926;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--color-primary) white;
  scrollbar-width: auto;
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--color-text);
  background-color: var(--color-bg);
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p {
  margin: 0;
}

.link { 
  color: var(--link-color);
}

.link:visited {
  color: var(--link-visited-color)
}

nav {
  background-color: var(--nav-bg);
  width: 100%;
  height: 72px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 80px;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: var(--color-on-text);
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

nav div a {
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 8px;
  color: var(--color-on-text);
}

nav div a.active {
  background-color: var(--nav-active);
}

.btn-logout {
  background-color: transparent;
  padding: 6px 8px;
  color: var(--color-on-text);
  cursor: pointer;
  font-family: var(--font);
  border-color: transparent;
  font-size: 16px;
}

#home,
#product-detail,
#sign-up,
#cart {
  padding: var(--padding-pages);
}

#hero {
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}

.hero-card {
  width: 100%;
  padding: 164px 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
  background-blend-mode: multiply;
  background-color: #ee26c350;
  background-image: url(https://images.unsplash.com/photo-1569388330292-79cc1ec67270?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  color: var(--color-on-text);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--container-radius);
  text-align: center;
  text-shadow: 1px 2px 2px #00000050;
}

#home {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-container);
  color: var(--color-text);
  padding: 28px;
  border-radius: var(--container-radius);
  text-decoration: none;
}

.product-container:hover {
  box-shadow: var(--container-box-shadow);
}

.product-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.search-product {
  width: 100%;
  font-size: 16px;
  padding: 12px 8px;
  color: var(--color-primary);
  border-radius: var(--bar-corner-radius);
  border: 2px solid var(--color-primary);
}

.search-product:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: 0px 0px 4px 2px #ee26c350;
  outline: none;
}

.search-product::placeholder {
  color: #ee26c390;
}

#product-detail {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.product-img-container {
  width: 600px;
  height: 400px;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
  border-radius: var(--container-radius);

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  flex-shrink: 0;
  transform-origin: var(--x, center) var(--y, center);
  transition: transform 0.3s ease-out;
}

.product-img-container img:hover {
  transform: scale(2);
  cursor: zoom-in;
}

#product-detail aside {
  width: 100%;
}

.quantity {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.quantity input {
  width: 64px;
  font-size: 16px;
  padding: 8px 2px;
  color: var(--color-primary);
  border-block: 2px solid var(--color-primary);
  border-inline: none;
  text-align: center;
  box-sizing: border-box;
}

.quantity input:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
  outline: none;
}

.btn-quantity {
  flex: 1;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-on-text);
  border: none;
  font-weight: bold;
}

.btn-quantity:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-quantity:hover {
  background-color: var(--button-color-hover);
}

.btn {
  padding: 0 40px;
  background-color: var(--color-primary);
  color: var(--color-on-text);
  border: none;
  border-radius: var(--bar-corner-radius);
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--button-color-hover);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-checkout {
  width: 100%;
  padding: 12px 0;
}

#cart {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 40px;
}

.cart-aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-container);
  padding: 40px;
  gap: 8px;
  border-radius: var(--container-radius);
}

#no-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-height: 77vh;
}

.cart-container {
  width: 640px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: var(--color-container);
  padding: 20px;
  border-radius: var(--container-radius);
  text-decoration: none;
  color: var(--color-primary);
}

.cart-container:hover {
  box-shadow: var(--container-box-shadow);
}

.cart-img-container {
  width: 100px;
  height: 100px;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
  border-radius: var(--container-radius);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cart-img-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  flex-shrink: 0;
}

.btn-cart-remove {
  align-self: center;
  margin-left: auto; 
  background: transparent;
  border: none;
}

.btn-cart-remove span {
  font-size: 40px;
  color: var(--color-error);
  cursor: pointer;
}

.btn-cart-remove span:hover {
  color: #f04747;
}

#error{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  padding-block: 20px;
  color: var(--color-on-text);
  text-align: center;
}

.loader {
  border: 8px solid white;
  border-top: 8px solid var(--color-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}